<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ark.futsalbookedapps">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_apps"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_apps"
        android:supportsRtl="true"
        android:theme="@style/Theme.FutsalBookedApps"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".Views.Users.Notification"
            android:exported="false" />
        <activity
            android:name=".Views.ProviderField.ReviewField"
            android:exported="false" />
        <activity
            android:name=".Views.ProviderField.ManageBookedField"
            android:exported="false" />
        <activity
            android:name=".Views.Users.FieldBooked"
            android:exported="false" />
        <activity
            android:name=".Views.ProviderField.UpdateGallery"
            android:exported="false" />
        <activity
            android:name=".Views.ProviderField.UpdateDataProvider"
            android:exported="false" />
        <activity
            android:name=".Views.ProviderField.ProviderFieldRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Views.ProviderField.GalleryImageAdd"
            android:exported="false" />
        <activity
            android:name=".Views.ProviderField.Dashboard"
            android:exported="false" />
        <activity
            android:name=".Views.Users.Home"
            android:exported="false" />
        <activity
            android:name=".Views.Auth.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Views.Auth.SignUp"
            android:exported="false" />
        <activity
            android:name=".Views.Auth.Authentication"
            android:exported="false" />
        <activity
            android:name=".Views.Auth.SignIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Notification.ServiceNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_apps" />
    </application>

</manifest>